
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 2px solid #323;
    color: #000;
    padding: 20px;
  }
  
  .main .price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .main h1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
  }